.button {
    color : black;
}

.disabled {
    color : grey
}

.secondary {
    color : blue
}

.default {
    color : black;
}

.red {
    color : red
}

.default:hover {
    color : navajowhite;
}

.red:hover {
    background-color: darkred;
}

.secondary:hover {
    background-color: cadetblue;
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
