.button {
}

.disabled {
    color : grey
}

.secondary {
}

.default {
    color : black;
}

.red {
    color : red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
